/*header{
	height: auto;
	width: 25%;
	background: #00FFFF;
}
details{
	font-style: italic;
}
summary{
	font-style: normal;
}
h4, span{
	font-style: oblique;
	background: #000000;
	color: #ffffff;
}
div{
	width: 30%;
	height: auto;
	background: #00b54c;
}
table{
	background: #58f698;
}*/
